<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play2Win</title>
    <script>
    </script>
</head>
<body>
<h1>Welcome to Play2Win</h1>
<h2>This1week's prize is:</h2>
<img src="/static/prize1.jpg" style="width:300px;height:300px"/>
<h2>Don't forget to submit your guess!</h2>

{% if logged_in %}
    <h2>Welcome {{ name }}</h2>
        {% if guess != '-1' %}
            <p>You have guessed {{ guess }}. If you'd like to change your guess enter it below.</p>
        {% endif %}
        {% if last_week_guess == last_week_number %}
            <p>You guessed the number correctly last week! Email hr4hustle@gmail.com to claim your prize!</p>
        {% endif %}
        <form method="post" action="/guess?email={{ name }}">
            <p>Enter a number between 1 and 1000 for a chance to win the grand prize!</p>
            <input type="number" name="guess" min="1" max="1000"/>
            <input type="submit"/>
        </form>
{% else %}
    <form method="post" action="/login">
        <label>Email: <input name="email" /></label>
        <label>Password: <input name="password" type="password"></label>
        <input type="submit" />
    </form>
{% endif %}
</body>
</html>